.post__detail {
  max-width: 680px;
  min-height: 90vh;
  padding: 20px;
  margin: auto;
}

.post__detail .post__box {
  border-top: 1px solid var(--line);
  margin-bottom: 25px;
}

.post__detail .post__box .post__title {
  text-align: left;
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  margin: 20px 0;
}

.post__detail .post__box .post__profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--card-foreground);
  margin-bottom: 10px;
}

.post__detail .post__box .post__profile-box .post__profile {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--secondary);
}

.post__detail .post__box .post__profile-box .post__author-name {
  font-size: 14px;
}

.post__detail .post__box .post__profile-box .post__date {
  font-size: 14px;
  color: var(--both);
}

.post__detail .post__box .post__utils-box {
  display: flex;
  gap: 8px;
  padding: 15px 0;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  font-size: 14px;
}

.post__detail .post__utils-box .post__delete,
.post__detail .post__utils-box .post__edit {
  cursor: pointer;
  color: var(--tertiary);
}

.post__detail .post__delete:active,
.post__detail .post__delete:hover {
  color: var(--foreground);
}

.post__detail .post__edit:active,
.post__detail .post__edit:hover{
  color: var(--foreground);
}

.post__detail .post__edit {
  text-decoration: none;
}

.post__detail .post__box .post__text {
  padding-top: 25px;
  text-align: left;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 1.5em;
}

.post__detail .post__box .post__text--pre-wrap {
  white-space: pre-wrap;
}
