footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
  padding: 20px 0;
  background: var(--secondary);
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: var(--both);
}

footer a:active,
footer a:hover {
  opacity: .6;
}