form {
  max-width: 680px;
  padding: 50px 20px;
  margin: 0 auto;
}

.form--lg {
  min-height: 70vh;
  margin-top: 10vh;
}

form .form__title {
  font-size: 25px;
  text-align: center;
}

form .form__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

form .form__block.link {
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.form__block .form__error {
  color: #ff1f1f;
  font-weight: 600;
  font-size: 14px;
}

.form__block .form__link {
  text-decoration: none;
  color: #999999;
  font-weight: 500;
}

.form__block label {
  font-size: 16px;
  font-weight: 600;
}

.form__block input {
  padding: 10px 8px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 16px;
}

.form__block input[type="text"],
.form__block input[type="password"] {
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .1);
}

.form__block .form__btn--submit {
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.form__block .form__btn--submit:hover,
.form__block .form__btn--submit:active {
  background-color: #1945a4;
}
